# --- System Files ---
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- Logs and Runtime ---
*.log
logs/
*.swp
*.bak
*.tmp

# --- Environment Secrets (QUAN TRỌNG) ---
.env
.env.local
.env.*.local
*.pem
*.key
cert.psd
/auth/secret.json

# --- Dependency Directories ---
# Không bao giờ push thư mục thư viện vì chúng rất nặng
node_modules/
bower_components/
jspm_packages/
vendor/

# --- Build Output ---
.dist/
.out/
build/
bin/
obj/
target/

# --- IDE/Editor Private Folders ---
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Python specific ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# --- Database ---
*.sqlite
*.db